
.font {
    font-family: 'Mukta';
    font-weight: 200;
    padding-right: 10px;
}

.logo {
    background-color: rgb(42, 139, 224);
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

.fontH1 {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    font-family: 'Mukta';
    font-weight: 800;
    background-color: rgb(42, 139, 224);
    align-items: flex-end;
}

h3 {
    padding-left: 10px;
}

.fontH3 {
    
    font-family: 'Mukta';
    font-weight: 600;
    background-color: rgb(123, 167, 206);
}

.titulo {
    margin-left: 10px;
    margin-right: 10px;

    
}
table, th, td {
    border: none;
  }

table {
    width: 100%;
    border: none;
}

tr {
    text-align: center;
}

tr:hover {
    background-color: rgb(193, 215, 240);
}

th, td {
    border-bottom: 1px solid #ddd;
  }

th {
    background-color: #0051ff;
    color: white;
  }

.remover {
    color: black;
    background-color: white;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: red 2px solid;
    padding: 4px 4px;
}

.remover:hover {
    background-color: #fc0000; 
    color: white;
}

.visualizar {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: #01ff0e 2px solid;
    margin-right: 10px;
    padding: 4px 4px;
}

.visualizar:hover {
    background-color: #01ff0e; 
    color: white;
    transition-duration: 0.4s;
}

.expect {
    font:300;
    font-family: 'Mukta';
    font-weight: bold;
}

.expectDetail {
    font:300;
    font-family: 'Mukta';
}

.sueldos {
    display:flex;
    justify-content: space-evenly;
}

ul {
    display: flex;
}

li {
    border: 2px rgb(177, 193, 209) solid;
    list-style-type:none;
    padding: 10px;
    margin:auto;
    align-items: left;
    width: 12%;
    height: 12%;
}